table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.filter {
  display: flex;
  flex-direction: column;
}

.filter > * {
  width: 100%;
  background-color: #424242;
}
.sortOrderButton
{
  width: 14%;
  padding: 1%;
  border-radius: 2px;
  background-color:  #373737 !important;
}
.sortOrderIcon{
  font-size: 2em;
}