<div class="background">
  <div class="banner">
    <h1>MyMusic</h1>
    <h3>Seja bem vindo!</h3>
  </div>
</div>
<div class="info">
  <mat-card class="card">
    <h4>
      O que é o MyMusic:
    </h4>
    Gerenciador de playlits que permite que você adicione músicas de forma simples e fácil, permitindo que as edite ou
    exclua de sua lista.
    Além disso o sistema conta com uma Integração do Spotify que permite importar as músicas de uma playlist passando a
    url da mesma.
  </mat-card>
  <mat-card class="card">
      <h4>
        Como o MyMusic foi desenvolvido:
      </h4>
      MyMusic foi desenvolvido usando .net core para criar uma API, e seu front-end fui utilizado Angular. Você pode chegar o código font clicando
      <a href="https://github.com/bordallog/mymusic" target="_blank" >aqui</a>.
    </mat-card>

</div>