  <mat-form-field hintLabel="Até 100 caracteres">
      <input [(ngModel)]="music.author" matInput #autor maxlength="100" placeholder="Autor">
  </mat-form-field>

  <mat-form-field hintLabel="Até 100 caracteres">
      <input [(ngModel)]="music.title" matInput #input maxlength="100" placeholder="Título">
  </mat-form-field>

  <mat-form-field hintLabel="horas : minutos : segundos">
      <input [(ngModel)]="music.duration" matInput #input maxlength="100" placeholder="Duração"  mask='00:00:00' >
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="updateMusic()">Salvar</button>

